@import url(http://fonts.googleapis.com/css?family=Fira+Sans);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro);

$firefox-family: 'Fira Sans', sans-serif;
$advert-family: 'Advent Pro', sans-serif;

$purple-chocolate: #420D29;
$smooth-chocolate: #924B4F;
$light-chocolate: #BF957D;
$white: #fff;
$transparent-black: rgba(50, 50, 50, 0.75);


$shadow-bottom: -2;
$shadow-top: 2;



@mixin size($height, $width: $height) {
    height: $height;
    width: $width;
}

@mixin panel-box-shadow($position, $shadow-color: $transparent-black) {
    -webkit-box-shadow: 0px $position 4px -2px $shadow-color;
    -moz-box-shadow:    0px $position 4px -2px $shadow-color;
    box-shadow:         0px $position 4px -2px $shadow-color;
}



//-webkit-border-radius: $radius;
//     -moz-border-radius: $radius;
//      -ms-border-radius: $radius;
//          border-radius: $radius;


